@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

ul li {
  font-size: larger;
  color: black;
}

li img {
  margin-right: 200px;
  height: 70px;
}
.carousel_text_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 50px;
  font-weight: 600;
  text-wrap: nowrap;
}
.carousel_button {
  position: absolute;
  top: 70%;
  left: 50%;
  background-color: black;
  width: 100px;
  height: 100px;
}
.carousel_img {
  width: 100%;
  height: 500px;
}
.section_container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 112px 0;
}

.section_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.about_img {
  width: 50%;
  height: 500px;
}
.services_card {
  background-color: white;
  color: black;
  border: 1px solid whitesmoke;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 20px;
  transition: background-color 0.3s ease;
}
.services_card:hover {
  background-color: red;
}
